POC/bomb_riddle_flow.json
[
    {
        "id": "b5344910.7e6f48",
        "type": "subflow",
        "name": "Detect online",
        "info": "",
        "in": [
            {
                "x": 260,
                "y": 100,
                "wires": [
                    {
                        "id": "63fddac8.8bfd84"
                    },
                    {
                        "id": "fb15d24e.33179"
                    },
                    {
                        "id": "29db3623.63d21a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1440,
                "y": 140,
                "wires": [
                    {
                        "id": "9f38ee37.47b2c",
                        "port": 0
                    },
                    {
                        "id": "912be007.d1f3d",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2c507ce9.2e27b4",
        "type": "delay",
        "z": "b5344910.7e6f48",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "5ff0758d.d4bfcc"
            ]
        ]
    },
    {
        "id": "912be007.d1f3d",
        "type": "inject",
        "z": "b5344910.7e6f48",
        "name": "Startup",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 930,
        "y": 260,
        "wires": [
            [
                "5ff0758d.d4bfcc"
            ]
        ]
    },
    {
        "id": "fb15d24e.33179",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "2c507ce9.2e27b4"
            ]
        ]
    },
    {
        "id": "ec0520fc.4084e",
        "type": "delay",
        "z": "b5344910.7e6f48",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "2c507ce9.2e27b4"
            ]
        ]
    },
    {
        "id": "63fddac8.8bfd84",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 110,
        "wires": [
            [
                "b97b4585.688dc8"
            ]
        ]
    },
    {
        "id": "5ff0758d.d4bfcc",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "Offline",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "b97b4585.688dc8"
            ]
        ]
    },
    {
        "id": "9f38ee37.47b2c",
        "type": "rbe",
        "z": "b5344910.7e6f48",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 1300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "29db3623.63d21a",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "ec0520fc.4084e"
            ]
        ]
    },
    {
        "id": "cdadf684.7022c8",
        "type": "comment",
        "z": "b5344910.7e6f48",
        "name": "Each incoming message will retrigger a new timeout (msg.timeout [ms]) before being reported offline",
        "info": "",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "b97b4585.688dc8",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "Offline",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "isonline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "9f38ee37.47b2c"
            ]
        ]
    },
    {
        "id": "d22ec598414ce21c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78b0a9c25c4bb52d",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "ToHost",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "6af882d57725195c",
                "d12f29a5c8e83a6c",
                "d2569d84ac787991",
                "5156456398cf0c1a",
                "0a1728bb203e84a2"
            ]
        ]
    },
    {
        "id": "69cb13afcc6862a6",
        "type": "ui_audio",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "voice": "Microsoft Mark - English (United States)",
        "always": "",
        "x": 2180,
        "y": 80,
        "wires": []
    },
    {
        "id": "2eb6ab55b92f708a",
        "type": "file in",
        "z": "d22ec598414ce21c",
        "name": "",
        "filename": "/home/icst/Downloads/large-underwater-explosion-190270.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1850,
        "y": 80,
        "wires": [
            [
                "69cb13afcc6862a6"
            ]
        ]
    },
    {
        "id": "6af882d57725195c",
        "type": "switch",
        "z": "d22ec598414ce21c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BOOM",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1490,
        "y": 120,
        "wires": [
            [
                "8098fe89771212e5",
                "2eb6ab55b92f708a"
            ]
        ]
    },
    {
        "id": "d12f29a5c8e83a6c",
        "type": "debug",
        "z": "d22ec598414ce21c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1307,
        "y": 89,
        "wires": []
    },
    {
        "id": "35169b6e7cb84594",
        "type": "ui_button",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "solve automatically",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SOLVE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1317,
        "y": 1349,
        "wires": [
            [
                "06baa14d3fb42680"
            ]
        ]
    },
    {
        "id": "8098fe89771212e5",
        "type": "ui_audio",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 1680,
        "y": 140,
        "wires": []
    },
    {
        "id": "d2569d84ac787991",
        "type": "switch",
        "z": "d22ec598414ce21c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "READY AGAIN",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1490,
        "y": 200,
        "wires": [
            [
                "1e9d3d4685407764"
            ]
        ]
    },
    {
        "id": "1e9d3d4685407764",
        "type": "ui_audio",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 1680,
        "y": 200,
        "wires": []
    },
    {
        "id": "5156456398cf0c1a",
        "type": "switch",
        "z": "d22ec598414ce21c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "READY",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1490,
        "y": 280,
        "wires": [
            [
                "89001ed034a28144"
            ]
        ]
    },
    {
        "id": "89001ed034a28144",
        "type": "ui_audio",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 1680,
        "y": 280,
        "wires": []
    },
    {
        "id": "0a1728bb203e84a2",
        "type": "switch",
        "z": "d22ec598414ce21c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "WON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1490,
        "y": 360,
        "wires": [
            [
                "8e8027a64e99ba7c",
                "2188b3a355d29755"
            ]
        ]
    },
    {
        "id": "8e8027a64e99ba7c",
        "type": "ui_audio",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 1680,
        "y": 340,
        "wires": []
    },
    {
        "id": "06baa14d3fb42680",
        "type": "mqtt out",
        "z": "d22ec598414ce21c",
        "name": "SOLVE ME",
        "topic": "ToDevice",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1597,
        "y": 1349,
        "wires": []
    },
    {
        "id": "94af2b0e32e0348d",
        "type": "debug",
        "z": "d22ec598414ce21c",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1100,
        "wires": []
    },
    {
        "id": "aa57af1037f7b7c2",
        "type": "ui_button",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset automatically",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1330,
        "y": 1500,
        "wires": [
            [
                "6661c00c66b558e6",
                "db67e4568f3fb368"
            ]
        ]
    },
    {
        "id": "6661c00c66b558e6",
        "type": "mqtt out",
        "z": "d22ec598414ce21c",
        "name": "RESET ME",
        "topic": "ToDevice",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1577,
        "y": 1509,
        "wires": []
    },
    {
        "id": "db67e4568f3fb368",
        "type": "debug",
        "z": "d22ec598414ce21c",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a45b41fe59b6b36c",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "ConnectedWires",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1280,
        "y": 880,
        "wires": [
            [
                "4fa9f8fada99bdfd"
            ]
        ]
    },
    {
        "id": "4fa9f8fada99bdfd",
        "type": "ui_numeric",
        "z": "d22ec598414ce21c",
        "name": "",
        "label": "Num Connected Wires",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1520,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6842bb1c0d2ba3f5",
        "type": "ui_text_input",
        "z": "d22ec598414ce21c",
        "name": "",
        "label": "Timer Countdown",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1577,
        "y": 1229,
        "wires": [
            []
        ]
    },
    {
        "id": "77366320e7483cf6",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "Yellow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1277,
        "y": 769,
        "wires": [
            [
                "a0e84f6c0404ef08"
            ]
        ]
    },
    {
        "id": "c965c5e9231fc3f2",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "Red",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1277,
        "y": 469,
        "wires": [
            [
                "bad93d086eaff9f1"
            ]
        ]
    },
    {
        "id": "dd2bba58d953d5b7",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "Green",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1277,
        "y": 569,
        "wires": [
            [
                "63ea7478ed5ff81c"
            ]
        ]
    },
    {
        "id": "669029daaa935268",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "Blue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1267,
        "y": 669,
        "wires": [
            [
                "f6bc4f63ef3c8e89"
            ]
        ]
    },
    {
        "id": "bad93d086eaff9f1",
        "type": "ui_text",
        "z": "d22ec598414ce21c",
        "group": "61285987.c20328",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red Wire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1547,
        "y": 469,
        "wires": []
    },
    {
        "id": "63ea7478ed5ff81c",
        "type": "ui_text",
        "z": "d22ec598414ce21c",
        "group": "61285987.c20328",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Green Wire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1557,
        "y": 569,
        "wires": []
    },
    {
        "id": "f6bc4f63ef3c8e89",
        "type": "ui_text",
        "z": "d22ec598414ce21c",
        "group": "61285987.c20328",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blue Wire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1547,
        "y": 669,
        "wires": []
    },
    {
        "id": "a0e84f6c0404ef08",
        "type": "ui_text",
        "z": "d22ec598414ce21c",
        "group": "61285987.c20328",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Yellow Wire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1557,
        "y": 769,
        "wires": []
    },
    {
        "id": "34bd447320f1daf8",
        "type": "ui_button",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delay Timer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "DELAY",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1310,
        "y": 1700,
        "wires": [
            [
                "b85cee4f2fb54bc3",
                "3acff42eac2e7461"
            ]
        ]
    },
    {
        "id": "b85cee4f2fb54bc3",
        "type": "mqtt out",
        "z": "d22ec598414ce21c",
        "name": "DELAY",
        "topic": "ToDevice",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1540,
        "y": 1700,
        "wires": []
    },
    {
        "id": "3acff42eac2e7461",
        "type": "debug",
        "z": "d22ec598414ce21c",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1780,
        "wires": []
    },
    {
        "id": "d9a4c140f8947359",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "Timer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1290,
        "y": 1200,
        "wires": [
            [
                "6842bb1c0d2ba3f5",
                "76891df582180bcc"
            ]
        ]
    },
    {
        "id": "2bd7f163b4023ca3",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "Timeout 1 sec",
        "rules": [
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1020,
        "wires": [
            [
                "c6e9e35564d62d1d"
            ]
        ]
    },
    {
        "id": "c6e9e35564d62d1d",
        "type": "subflow:b5344910.7e6f48",
        "z": "d22ec598414ce21c",
        "name": "",
        "x": 1690,
        "y": 1020,
        "wires": [
            [
                "3f2d9517db32a5ab"
            ]
        ]
    },
    {
        "id": "3f2d9517db32a5ab",
        "type": "ui_text",
        "z": "d22ec598414ce21c",
        "group": "61285987.c20328",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e380e9725ca34418",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "HB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1290,
        "y": 1040,
        "wires": [
            [
                "2bd7f163b4023ca3",
                "94af2b0e32e0348d"
            ]
        ]
    },
    {
        "id": "76891df582180bcc",
        "type": "debug",
        "z": "d22ec598414ce21c",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1280,
        "wires": []
    },
    {
        "id": "45ae3b8303020882",
        "type": "mqtt in",
        "z": "d22ec598414ce21c",
        "name": "",
        "topic": "GotDelay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1220,
        "y": 2060,
        "wires": [
            [
                "7284d2b4d9738995",
                "e9e725a83ee23d7b"
            ]
        ]
    },
    {
        "id": "7284d2b4d9738995",
        "type": "debug",
        "z": "d22ec598414ce21c",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2140,
        "wires": []
    },
    {
        "id": "4bc3dc0a15347afd",
        "type": "ui_ui_control",
        "z": "d22ec598414ce21c",
        "name": "",
        "events": "all",
        "x": 1840,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "35c9ac0a6ee4364e",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Dashboard_Function\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 2020,
        "wires": [
            [
                "4bc3dc0a15347afd"
            ]
        ]
    },
    {
        "id": "ec0b1f57dc9b5c67",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Dashboard_Function2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 2120,
        "wires": [
            [
                "c90c52594745e594",
                "6675b320d538ee1f"
            ]
        ]
    },
    {
        "id": "5a1c5c9c083bf50f",
        "type": "ui_button",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "9af39a6f23711f6a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sending request to device...",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1520,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "22606b6365a4d7a8",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Function\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1880,
        "wires": [
            [
                "5a1c5c9c083bf50f"
            ]
        ]
    },
    {
        "id": "ce444e9686eeb19c",
        "type": "ui_button",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "872d7038e570b507",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Succsess",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1460,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "e9e725a83ee23d7b",
        "type": "switch",
        "z": "d22ec598414ce21c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "END",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 2060,
        "wires": [
            [
                "35c9ac0a6ee4364e"
            ],
            [
                "ec0b1f57dc9b5c67",
                "53b7f509e25e4dbe"
            ]
        ]
    },
    {
        "id": "c90c52594745e594",
        "type": "ui_ui_control",
        "z": "d22ec598414ce21c",
        "name": "",
        "events": "all",
        "x": 1840,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "e9cc39e697334a21",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Function2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1940,
        "wires": [
            [
                "ce444e9686eeb19c"
            ]
        ]
    },
    {
        "id": "498cfc517f1025cc",
        "type": "trigger",
        "z": "d22ec598414ce21c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1820,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "d8a3e14213e3e048",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Function2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 2220,
        "wires": [
            [
                "c90c52594745e594"
            ]
        ]
    },
    {
        "id": "53b7f509e25e4dbe",
        "type": "change",
        "z": "d22ec598414ce21c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Function\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 2060,
        "wires": [
            [
                "4bc3dc0a15347afd"
            ]
        ]
    },
    {
        "id": "6675b320d538ee1f",
        "type": "delay",
        "z": "d22ec598414ce21c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1820,
        "y": 2220,
        "wires": [
            [
                "d8a3e14213e3e048"
            ]
        ]
    },
    {
        "id": "fa02accdd5efab73",
        "type": "ui_audio",
        "z": "d22ec598414ce21c",
        "name": "",
        "group": "61285987.c20328",
        "voice": "Microsoft Mark - English (United States)",
        "always": "",
        "x": 2180,
        "y": 400,
        "wires": []
    },
    {
        "id": "2188b3a355d29755",
        "type": "file in",
        "z": "d22ec598414ce21c",
        "name": "",
        "filename": "/home/icst/Downloads/success-fanfare-trumpets-6185.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1840,
        "y": 400,
        "wires": [
            [
                "fa02accdd5efab73"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9af39a6f23711f6a",
        "type": "ui_group",
        "name": "Function",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "872d7038e570b507",
        "type": "ui_group",
        "name": "Function2",
        "tab": "e7c46d5e.a1283",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]